/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins';
  font-style: normal;
}

:root {
  --heading-color: #1D1617;
  --text-desc: #7B6F72;
  --white: #ffffff;
  --placeholder: #ADA4A5;
  --background: #F5F5F5;
  --text-field: #F7F8F8;
  --text-hover: #92A3FD;
}

section {
  width: 100%;
  padding: 2rem 0;
}

.container {
  width: 100%;
  height: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}

.row {
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  background: var(--text-field);
  border: 1px solid var(--text-field);
  border-radius: 14px;
  width: 100%;
  height: 48px;
  outline: none;
  padding: 0 20px 0 50px;
  position: relative;
}

h1 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--heading-color);
}

h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

a,
p {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: var(--text-desc);
}

button {
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  border-radius: 99px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  border: none;
  width: 100%;
  height: 50px;
}

a.button{
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  border-radius: 99px;
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  border: none;
  width: 100px;
  height: 40px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


form {
  width: 100%;
}

button:hover {
  background: var(--text-field);
  color: var(--text-hover);
  border: 1px solid var(--text-hover);
}

a.btn-pink {
  background: linear-gradient(274.42deg, #C58BF2 0%, #EEA4CE 124.45%);
}

.step_input_fields span {
  color: #ADA4A5;
}

.step_one_row1 {
  padding: 0 1rem;
  text-align: center;
}

.register-step-one h1 {
  margin-bottom: 30px;
}

.register-step-one h6 {
  margin-bottom: 5px;
}

.registration--textfield--one .step_input_fields:not(:last-child) {
  margin-bottom: 15px;
}

.registration--textfield--one .step_input_fields:last-child {
  margin-bottom: 10px;
}

.registration--textfield--one {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.confirm {
  display: flex;
  text-align: start;
  padding: 0 1rem;
}

.confirm input {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.confirm label {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #ADA4A5;
}


.step_one_row2 span {
  color: #EEA4CE;
}

.step_input_fields {
  position: relative;
}

.step_input_fields .step-one-icon {
  position: absolute;
  top: 50%;
  left: 35px;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.step_input_fields .step-icon-eye {
  position: absolute;
  top: 50%;
  right: 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.step_one_row2 p {
  margin-top: 30px
}

.step_one_row2 {
  margin-top: 40px
}

#multistep_form fieldset:not(:first-of-type) {
  display: none;
}

#multistep_form fieldset {
  border: none;
}

.step_input_fields {
  display: flex;
}

#step_two_weight,
#step_two_height {
  margin-right: 15px;
}

.register--textfield--two h1 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.register--textfield--two p {
  margin-bottom: 30px;
}

.register--textfield--three h1 {
  margin-bottom: 5px;
  margin-top: 50px;
}

.step_one_row2 {
  padding: 0 1rem;
  text-align: center;
}

.register-step-one img {
  width: 100%;
  height: auto;
}

.login {
  width: 100%;
}

.forgot__password__text {
  width: 100%;
  text-align: center;
  display: block;
}

.main-app {
  padding-bottom: 5rem !important;
}

.step--two__gender {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 60px;
  background: var(--text-field);
  border: 1px solid var(--text-field);
  border-radius: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
}


.step--two__gender [type="radio"] {
  width: 15px;
  height: 15px;
}

.step--two__gender label {
  font-size: 14px;
  color: #747474;
}




h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.content {
  width: 100%;
}

#dashboard-page {
  padding-bottom: 5rem;
}

.dashboard h6 {
  color: #ADA4A5;
  margin-bottom: 5px;
}

.radial--section--contaier {
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  border-radius: 20px;
  position: relative;
  margin-top: 30px;
  width: 100%;
}

.dot-overlay {
  background-image: url(assets/background-dots.png);
  background-position: center bottom;
  position: absolute;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* width: 100%;
  height: 100%; */
}

.radial--section--row {
  width: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  color: #fff;
}

.radial--section--row p {
  text-align: start;
  color: #fff;
  margin-bottom: 15px;
}

.radial--circle--container h4 {
  position: absolute;
  top: 34%;
  left: 73%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.radial--col--one {
  width: 70%;
  padding: 5px;
}

.radial--col--two {
  width: 30%;
  padding: 5px;
  position: relative;
}

.radial--full--circle {
  background-color: #fff;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  top: 54%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
}

.radial--half--circle {
  background-color: #fff;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 54%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 20px;
  background: repeating-conic-gradient(from 0deg,
      #EEA4CE 0deg 90deg,
      transparent 50deg 360deg);
}

.radial--col--one h2 {
  margin-bottom: 5px;
}

.radial--col--one button.btn-pink {
  width: 95px;
  border-radius: 50px;
  font-weight: 600;
  width: 95px;
}

.target-check-row {
  width: 100%;
}

.target-check-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 18px 20px;
  background-color: rgba(151, 180, 254, 0.2);
  border-radius: 16px;
  align-items: center;
  margin: 30px 0;
}

.target-check-content button {
  width: 68px;
  height: 28px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.target-check-content h2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.target--check--row h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--black);
}

.barcontainer {
  background-color: #181818;
  position: relative;
  width: 30px;
  height: auto;
  background: #F7F8F8;
  border-radius: 30px;
}

.bar {
  background: linear-gradient(180deg, #C58BF2 -83.11%, #B4C0FE 60.6%);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
  border-top: 0px solid #FFF;
  box-sizing: border-box;
  animation: grow 1.5s ease-out forwards;
  transform-origin: bottom;
  border-radius: 30px;
}

@keyframes grow {
  from {
    transform: scaleY(0);
  }
}

.target--col-one {
  display: flex;
}

.content-box-item .target--check--row {
  width: 100%;
  display: flex;
  padding: 20px 8px 20px 20px;
  box-shadow: 0px 10px 40px rgba(29, 36, 42, 0.05);
  border-radius: 20px;
  margin-right: 20px;
}

.target--col-one {
  margin-right: 20px;
}

.content-box-item {
  width: 50%;
}

.target--col-three {
  width: 50%;
  margin-left: 15px;
}

.target-check-cotnent {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.target-check-cotnent h1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.progress-boxes h2 {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--black);
  margin-bottom: 5px;
}

.progress-boxes h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #9DCEFF;
  margin-bottom: 10px;
}

.target__col__two__row__three p {
  text-align: start;
}

.target__col__two__row__three ul {
  margin-top: 5px;
  padding-left: 20px;
}

.target__col__two__row__three li {
  margin-bottom: 3px;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}

.target__col__two__row__three ul p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
  color: #EEA4CE;
}

.progress-boxes {
  width: 100%;
  display: flex;
}

.target__col__three__row__one {
  box-shadow: 0px 10px 40px rgb(29 36 42 / 5%);
  border-radius: 20px;
  padding: 20px;
}

.target__col__three__row__two {
  box-shadow: 0px 10px 40px rgb(29 36 42 / 5%);
  border-radius: 20px;
  padding: 20px;
}

.target__col__three__row__one img {
  width: 100%;
}

.pin {
  position: absolute;
  top: 30px;
  right: 20px;

}

.pin button {
  background: transparent;
  font-size: 25px;
  padding: 0;
  color: #ADA4A5;
}

.navi-botoom-container {
  width: 100%;
  background: #fff;
  position: fixed;
  bottom: 0;
  padding-bottom: 9px;
  box-shadow: 0px 10px 34px #aaaaaa;
}

.navi-container-item {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.navi-container-item .item-navi-icon a {
  color: #ADA4A5;
  font-size: 20px;
}

.search-nav-bottom {
  padding: 13px 18px;
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  border-radius: 50%;
  color: var(--white);
}

.item-navi-icon.item-navi-search {
  margin-top: -20px;
}

.header__container {
  margin-bottom: 35px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__wrapper>a {
  padding: 6px 10px;
  background: #F7F8F8;
  border-radius: 8px;
}

.header__wrapper a i {
  color: #000;
}

.avatar__container {
  justify-content: space-between;
}

.avatar--info__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.avatar--details__wrapper {
  display: flex;
  flex-direction: column;
  column-gap: 15px;
  align-items: flex-start;
}

.avatar--btn__wrapper {
  width: 30%;
}

.avatar--btn__wrapper button {
  height: 40px; 
}

.cards__container {
  margin-top: 35px;
  flex-direction: row;
  justify-content: space-between;
}

.card__wrapper {
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgb(29 22 23 / 7%);
  border-radius: 16px;
  width: 110px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__wrapper .card {
  text-align: center;
}

.card h3 {
  font-weight: 500;
  font-size: 22px;
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.dropdown-menu {
  display: none;
  position: absolute;
  float: none;
  right: 40px;
  top: 47px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.header__wrapper a:has(.fa-ellipsis) {
  position: relative;
}

.btn-logout {
  padding: 15px 50px;
}

.dropdown-menu.show {
  display: block;
}

.account__container {
  margin-top: 35px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 16px;
  width: 100%;
  height: 200px;
  padding: 20px;
  justify-content: flex-start;
}

.account__wrapper,
.notification--setting__wrapper {
  width: 100%;
}

.account__wrapper h6 i:first-child,
.notification--setting__wrapper h6 i:first-child {
  color: #92A3FD;
  margin-right: 10px;
  font-size: 22px;
}

.account__wrapper h6 i:last-child {
  float: right;
}

.account__wrapper h3,
.notification--setting__wrapper h3 {
  margin-bottom: 15px;
}

.account__wrapper h6:not(:last-child) {
  margin-bottom: 10px;
}

.notification--setting__container {
  margin-top: 35px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 16px;
  width: 100%;
  height: 130px;
  padding: 20px;
  justify-content: flex-start;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background: linear-gradient(274.42deg, #C58BF2 0%, #EEA4CE 124.45%);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-switch__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tracker-container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}
.tracker-row{
  width: 100%;
  max-width: 1200px;
}

.tracker-first-row{
  width: 100%; 
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
}

.tracker-first-section{
  margin: 30px 0;
}
.tracker-first-section img{
  width: 32px;
  height: 32px;
}
.tracker-first-section h2{
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 0;
}
.tracker-target-row1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tracker-target-row2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tracker-target-row1 h3{
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 0;
}
.tracker-second-row{
  padding: 0 10px;
}
.tracker-second-section{
  padding: 20px;
  background: linear-gradient(274.42deg, #92a3fd57 0%, #9dceff2b 124.45%);
  border-radius: 22px;
}
.target-row-col2{
  width: 50%;
  display: flex;
  background-color: var(--white);
  padding: 10px;
  border-radius: 12px;
  justify-content: center;
  margin-right: 10px;
}
.target-glass-shoes{
  width: 25%;
  display: flex;
  margin-right: 0.5rem;
}
.target-text{
  width: 75%;
}
.target-text p{
  margin-bottom: 0;
  text-align: start;
}
.tracker-target-row2{
  width: 100%;
  margin-top: 15px;
  display: flex;
}
.target-row-col1{
  width: 50%;
  display: flex;
  background-color: var(--white);
  padding: 10px;
  border-radius: 12px;
  justify-content: center;
  margin-right: 10px;
}
.target-row-col2{
  width: 50%;
  display: flex;
}
.target-text p:first-child{
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-hover);
}

.profile-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.profile-row{
  width: 100%;
  max-width: 1200px;
  padding: 10px;

}
.profile-first-row{
  width: 100%; 
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.profile-heading{
  margin: 30px 0;
}
.profile-heading img{
  width: 32px;
  height: 32px;
}
.profile-info-col1{
  width: 20%;
}
.profile-info-col2{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.profile-info-col3{
  width: 30%;
  text-align: end;
}
.profile-file-img{
  width: 55px;
  height: 55px;
}
.profile-info-col1 img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.profile-second-section{
  padding: 0 10px;
  display: flex;
  align-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.profile-info-col2 p{
  margin: 0;
  width: 100%;
  text-align: start;
}
.profile-info-col2 p:first-child{
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #1D1617;
}
.profile-info-col3 button{
  width: 83px;
  height: 30px;
  border-radius: 99px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.boxes-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.box-item{
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 16px;
  padding: 10px 24px;
  width: 30%;
}
.box-item p{
  margin: 0;
}
.box-item p:first-child{
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: var(--text-hover);
  margin-bottom: 5px;
}
.profile-third-row{
  width: 100%;
  height: 100%;
  min-height: 190px;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 16px;
  padding: 20px;
  margin: 30px 10px;
}
.account-prof-items{
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.account-prof-item-img{
  width: 8%;
  color: var(--text-hover)
}
.account-prof-item-data{
  width: 84%;
}
.account-prof-item-data p{
  text-align: start;
  margin: 0;
}
.account-prof-item-icon{
  width: 8%;
  text-align: end;
}
.account-prof-container{
  width: 100%;
}
.account-prof{
  display: flex;
  align-items: center;
}
.profile-fourth-row{
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 16px;
  padding: 20px;
  margin: 0 10px;
}

.profile-heading h2{
  font-weight: 700;
  font-size: 16px;
}

.profile-third-row h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.notification-prof-items{
  width: 100%;
  display: flex;
  margin-top: 15px;
}
.notification-prof-item-img{
  width: 8%;
  color: var(--text-hover)
}
.notification-prof-item-data{
  width: 72%;
}
.notification-prof-item-data p{
  text-align: start;
  margin: 0;
}
.notification-prof-item-icon{
  width: 20%;
  text-align: end;
}
.notification-prof-container{
  width: 100%;
}
.notification-prof{
  display: flex;
  align-items: center;
}

.notification-prof-item-icon{
  transform: scale(1);
}

.profile-fourth-row input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ccc;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
  transform: scale(1);
}

.profile-fourth-row input:checked[type="checkbox"] {
  background: #7da6ff;
}

.profile-fourth-row input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.4s;
}

.profile-fourth-row input:checked[type="checkbox"]::after {
  left: 70%;
}
.profile-fourth-row h3{
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.navi-botoom-container{
  width: 100%;
}
.navi-container-item{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.navi-container-item .item-navi-icon{
  color: #ADA4A5;
  font-size: 20px;
}
.navi-container-item .item-navi-icon{
  color: #ADA4A5;
  font-size: 20px;
}

.search-nav-bottom{
  padding: 13px 18px;
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
  border-radius: 50%;
  color: var(--white);
}
.item-navi-icon.item-navi-search {
  margin-top: -20px;
}
.navi-container-item{
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.profile-fifth-row{
  margin-top: 50px;
}

.bmi-image__container{
  background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.bmi-details__container p {
  text-align: left;
}

.bmi-content__container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bmi-content__container p {
  text-align: left;
}

.bmi-tips__container {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


#update-profile h1 {
  margin-bottom: 2rem;
}

.alert.alert-success {
  background-color: #5cb85c;
  color: #fff;
  padding: .5rem;
  text-align: center;
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}

h4.activity-chart--header {
  margin: 2rem 0rem 1rem;
  color: var(--heading-color);
}

.tracker-container .barcontainer {
 height: 150px;
 margin-bottom: 0.5rem;
 width: 25px;
}

.activity-chart {
  padding: 1.5rem;
}

.activity-chart {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: yellowgreen;
  box-shadow: 1px 1px 1px #d5d5d5;
  box-shadow: 0px 10px 40px rgb(29 22 23 / 7%);
  border-radius: 20px;
}


.activity-chart .chart-col:nth-child(even) .bar {
  background: linear-gradient(274.42deg, #C58BF2 0%, #EEA4CE 124.45%);
}

.activity-chart .chart-col:nth-child(odd) .bar {
  background: linear-gradient(180deg, #C58BF2 -83.11%, #B4C0FE 60.6%);
}

.latest-activity--card {
  display: flex;
  gap: 1rem;
  box-shadow: 0px 10px 40px rgba(29, 22, 23, 0.07);
  border-radius: 16px;
  padding: 1rem;
}

.latest-activity--card p {
  text-align: left;
}

.pin a{
  font-size: 22px;
}

.notification--cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.line {
  border: 1px solid #DDDADA;
  width: 100%;
  padding:0rem 1rem;
}

